<form class="form-horizontal" name="myForm" ng-controller="myCtrl">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name:</label>

        <div class="col-sm-6">
            <input id="name"
                   class="form-control"
                   name="name"
                   type="text"
                   required
                   ng-model="myName">
        </div>
    </div>
</form>

<form name="myForm" ng-controller="myCtrl">
    <fieldset>
        <legend>Personal info</legend>
        <label for="myFirstName">First Name:</label>
        <input type="text"
               id="myFirstName"
               name="myFirstName"
               ng-model="myFirstName"
               placeholder="First Name"
               required>
        <div ng-if="myForm.myFirstName.$invalid">Error in First Name</div>
        <label for="myLastName">Last Name:</label>
        <input type="text"
               id="myLastName"
               name="myLastName"
               ng-model="myLastName"
               placeholder="Last Name"
               required>
        <div ng-if="myForm.myLastName.$invalid">Error in  Last Name</div>
        <input type="submit">
    </fieldset>
</form>